* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

fieldset {
    width: auto;
}

.formulario {
    border: 2px solid #CCC;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    position: relative;
    align-content: center;
}

.formulario input {
    border: 1px solid #CCC;
    height: 25px;
    width: 350px;
    padding: 2px;
    display: block;
    align-self: center;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}

.formulario input:focus {
    background-color: #f7f770;
}

.formulario button {
    align-self: center;
    width: 130px;
    border: 1px solid #fff;
    background-color: #eeee1e;
    color: #000000;
    cursor: pointer;
    height: 35px;
    position: relative;
    text-align: center;
    transition: width 0.7s;
}

.formulario button:hover {
    background: #FB0;
    color: #fff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    /* transform: scale(1, 1.2); */
    width: 160px;
}

#listaFilmes {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
}

#listaFilmes li {
    text-align: center;
    border: solid 1px black;
    width: 300px;
    height: 150px;
    line-height: 1.2;
}
li button {
    border-radius: 10px;
    position: relative;
    color: #fff;
    cursor: pointer;
}
li #criar{
    background-color: green;
    border: none;
    height: 30px;
    width: 60px;
}

li #apagar{
    background-color: red;
    border: none;
    height: 30px;
    width: 60px;
}